body{
	background: url("../img/bg4.png");
	font-family: 'Roboto Mono', monospace;
  }
  
  h1, h2, h3 {
	font-family: 'Lalezar', cursive;
  }
  
  p{
	font-family: 'Roboto Mono', monospace;
  }
  
  #navigation{
	
  }
  
  #logo{
	
  }
  
  .container, nav, footer{
	width: 60%;
	display: block;
	margin: 0 auto;
	padding: 10px;
	background: #fff;
  }
  
  ul{
	padding-left:0px;
  }
  
  li {
	display: inline;
	margin-right: 5px;
	
  }
  
  .avatar{
	max-width: 200px;
	float: left;
	border: 2px solid #222;
	margin-right: 10px;
  }
  
  footer{
	text-align: center;
  }
  
  .project-img{
	float: left;
	display: inline;
	margin-bottom: 12px;
	margin-right: 10px;
  }
  
  .project-details{
	float: right;
	display: inline;
  
  }
  
  .clear{
	clear: both;
  }